@using FormMethod = System.Web.Mvc.FormMethod
@model MVC5_Seneca.ViewModels.DisplayStudentInfoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayStudentInfoViewModel</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @*Put page javascript in a separate .js file where breaks can be set during debugging:*@
    <script src="@Url.Content("/Scripts/StudentInfo.js")"></script>

    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@

    <style>
        #parentEmail {
            color: blue;
            text-decoration: underline;
        }  
        #AuthorEmail {
            color: blue;
            text-decoration: underline;
        }
        #primaryTutorEmail {
            color: blue;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div id="Main">
        @using (Html.BeginForm("Index", "DisplayStudentInfo", FormMethod.Post))
        {
            <table>
                <tr>
                    &nbsp;&nbsp; User Name:&nbsp;@User.Identity.Name
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-decoration:underline">
                        <strong>Seneca Heights Education Program</strong>
                    </td>
                </tr>
                <tr>
                    <td><strong>Id:</strong></td>
                    <td>@Html.DropDownList("student_Id", Model.Students, "-Select ID-")</td>
                    <td>
                        <strong id="motherFather"></strong>
                    </td>
                    <td id="parentFirstName"></td>
                    <td>
                        <strong id="parentPhoneLabel"></strong>
                    </td>
                    <td id="parentPhone"></td>
                    <td>
                        <strong id="parentEmailLabel"></strong>
                    </td>
                    <td id="parentEmail"></td>
                </tr>
                <tr id="primaryTutorRow" style="display:none">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right"><strong>Tutor: </strong></td>
                    <td id="primaryTutorName"></td>
                    <td style="text-align:right"><strong>Phone: </strong> </td>
                    <td id="primaryTutorPhone"></td>
                    <td style="text-align:right"><strong>Email:</strong> </td>
                    <td id="primaryTutorEmail"></td>
                </tr>
            </table>
        }
    </div>

    <div id="DocumentsDiv" style="display:none">
        <table>
            <tr>
                <td>
                    <strong id="DocumentSelectLabel"></strong>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownList("reportsDDL", new SelectList(string.Empty, "Value", "Text"),
                                                                      "--Select Report--", new { style = "width:275px" })
                </td>
                <td>
                    <strong id="DocumentLinkLabel"></strong>
                </td>
                <td>
                    <a href="#" id="GetDocumentPDF" target="_blank"> <img src="~/Images/PDF10.png" style="border:none" /> </a>
                </td>
                <td>
                    <strong id="DocumentCommentLabel"></strong>
                </td>
                <td id="DocumentComment"></td>
            </tr>
        </table>
    </div>

    <div id="DisplayTutorNotesDiv" style="display:none">
        <table>
            <tr>
                <td>
                    <strong id="TutorNotesSelectLabel"></strong>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownList("SessionNotesDDL", new SelectList(string.Empty, "Value", "Text"),
                                            "--Select Note--", new { style = "width:275px" })
                </td>
                <td>
                    <strong id="SessionNoteLabel"></strong>
                </td>
                <td>
                    @Html.TextArea("_EditSessionNoteText", Model.SessionNote, new
                    {
                        id = "SessionNoteText",
                        style = "width: 400px;",
                        cols = 35,
                        rows = 3,
                        Title = "Tip: You may delete this note by saving a blank text."
                    })
                </td>
                <td>
                    <a href="#" id="EditSessionNote">Save Edits</a>
                </td>
            </tr>
            <tr>
                @*Hidden empty table column to pass Session UserId to avoid an extra Ajax call in jscript:*@
                <td id="SessionUserName" style="display:none">@User.Identity.Name</td>
                <td id="SessionUserId" style="display:none">@Model.User_Id</td>
                <td></td>
                <td id="EmailAuthorLabel" align="right" style="display:none">
                    <strong>Tutor Email:</strong>
                </td>
                <td id="AuthorEmail" style="display:none"></td>
            </tr>
        </table>
    </div>

    <div id="EditSessionNoteDiv" style="display:none">
        <table>
            <tr>
                <td width="50px"></td>
                <td>
                    <strong id="EditSessionNoteLabel"></strong>
                </td>
                <td>
                    <a href="#" id="SaveEditedSessionNote"> <img src="~/Images/save-button.png" style="border:none" /> </a>
                </td>
            </tr>
        </table>
    </div>

    <div id="EnterTutorNotesDiv" style="display:none">
        <br />
        <table>
            <tr>
                <td>
                    <strong id="EnterTutorNotesLabel"></strong>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <strong>Date:</strong>
                </td>
                <td>
                    @Html.TextBox("EnterSessionDate  ", DateTime.Now.ToString("MM/dd/yyyy"), new { id = "SessionDate", style = "width: 75px;", @class = "date-picker" })
                </td>
                <td>
                    <strong>Note:</strong>
                </td>
                <td>
                    @Html.TextArea("EnterSessionNote", null, new { id = "NewSessionNote", style = "width: 400px;", cols = 35, rows = 3 })
                </td>
                <td>
                    <a href="#" id="SaveSessionNote"> <img src="~/Images/save-button.png" style="border:none" /> </a>
                </td>
            </tr>
        </table>
    </div>

    <div id="ReturnToDashboard">
        @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
        <br />
        <a href="@Url.Action("Logout", "Home")">LogOut</a>
    </div>

    <script type='text/javascript'>
        $(function () {
            $('.date-picker').datepicker();
        })
    </script>

    <script type="text/javascript">
        $("#student_Id").change(UpdateStudentDetails);
    </script>

    <script type="text/javascript">
        $("#reportsDDL").change(UpdateDocumentLink);
    </script>

    <script type="text/javascript">
        $("#SessionNotesDDL").change(UpdateSessionNote);
    </script>

    <script type="text/javascript">
        $("#SaveSessionNote").click(function () {
            SaveSessionNote(_student_Id);
            GetTutorNotes();
        });
    </script>

    <script type="text/javascript">
        $("#EditSessionNote").click(function () {
            var text = $("#SessionNoteText");
            SaveEditedSessionNote(text);
            GetTutorNotes();
        });
    </script>

    <script type="text/javascript">
        $("#SaveEditedSessionNote").click(function () {
            var text = $("#EditSessionNoteText");
            SaveEditedSessionNote(text);
            //GetTutorNotes();
        });
    </script>

    <script type="text/javascript">
        $("#parentEmail").click(function () {
            EmailToParent(_student_Id);
        });
    </script>

    <script type="text/javascript">
        $("#AuthorEmail").click(function () {
            EmailToAuthor(_latestAuthor_Email);
        });
    </script>

    <script type="text/javascript">
        $("#primaryTutorEmail").click(function () {
            EmailToPrimaryTutor(_latestPrimaryTutor_Email);
        });
    </script>

</body>
</html>
