@model MVC5_Seneca.ViewModels.AddEditUserRolesViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title> 
</head>
<body>
<table class="table">
    <tr>
        <td>
            &nbsp;&nbsp; User Name:&nbsp; @User.Identity.Name
        </td>
    </tr>
</table>
        <h4>Maintain User Permissions (&quot;Roles&quot;)</h4>
        <p>
            @Html.ActionLink("Create New User Permission", "Create")
        </p>
<table class="table">   
    <tr>
        <td>User Name: Name / Role</td>
        <td></td>
        <td>Email (to notify activated user)</td>
    </tr>
    @foreach (var item in Model.UserNameRoles)
        { 
            <tr>
                <td>
                    @item.Name
                </td> 
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })  |
                </td>
                <td id="UserEmail">
                    @if (item.Name.Contains("Active"))
                    {  
                        <a href="mailto:@(item.Email)?Subject=Activation%20Notice%20-%20Seneca%20Heights%20Education%20Program&Body=Your%20account%20has%20been%20activated.">@item.Email</a>
                    }
                </td>
            </tr>
    }
        </table>

        <table>
            <tr>
                <td>
                    @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
                </td>
            </tr>
</table> 

</body>
</html>
