@model MVC5_Seneca.EntityModels.ApplicationUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        p.indent {
            padding-left: 1em
        }
        div {
            padding-left: 10px
        }
    </style>
</head>
<body>

    <div>
        <table>
            <tr>
                <td>&nbsp;&nbsp; Tutor:&nbsp; @User.Identity.Name</td>
            </tr>
            <tr>
                <td>
                    <p style="text-decoration:underline" class="indent"><strong>Seneca Heights Education Program Dashboard</strong></p>
                </td>
            </tr>
        </table>
    </div>

    @if (User.IsInRole("Administrator"))
    {
    <div>
        Administator Menu<br />
        <a href="@Url.Action("MaintainUsers", "Home")">Maintain Users</a><br />
        <a href="@Url.Action("MaintainStudents", "Home")">Maintain Students</a><br />
        <a href="@Url.Action("MaintainParents", "Home")">Maintain Parents</a><br />
        <a href="@Url.Action("MaintainStaff", "Home")">Maintain Staff</a><br />
        <a href="@Url.Action("MaintainDocumentTypes", "Home")">Maintain Document Types</a><br />
        <a href="@Url.Action("MaintainStudentReports", "Home")">Maintain Student Reports</a><br />
        <a href="@Url.Action("UploadStudentReports", "Home")">Upload Student Reports</a><br />
        <a href="@Url.Action("MaintainSchools", "Home")">Maintain Schools</a><br />
        <a href="@Url.Action("MaintainUserRoles", "Home")">Maintain User Roles</a><br />
        @*<a href="@Url.Action("MaintainTutorNotes", "Home")">Maintain TutorNotes</a><br />*@
        <a href="@Url.Action("ResetAnyPassword", "Account")">Reset Any Password</a><br />
        @*<a href="@Url.Action("AddIdentityRole", "Home")">Add Identitly Role</a><br />*@
        <br />
    </div>
    }

    <div>
        Tutor Menu<br />
        <a href="@Url.Action("DisplayStudentInfo", "Home")">Display Student Information</a><br />
        <a href="@Url.Action("MaintainStudents", "Home")">Add/Edit Students</a><br />
        <a href="@Url.Action("MaintainParents", "Home")">Add/Edit Parents</a><br />
        <a href="@Url.Action("UploadStudentReports", "Home")">Upload Student Report</a><br />
        <a href="@Url.Action("ChangeMyPassword", "Home")">Change My Password</a><br />

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">LogOut</a>
        }
    </div>

</body>
</html>
