
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HFEDHome</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>&nbsp;&nbsp; Welcome  @User.Identity.Name!</td>
        </tr>
        <tr>
            <td>
                <p style="text-decoration:underline" class="indent"><strong>Healthy Food Every Day Dashboard</strong></p>
            </td>
        </tr>
    </table>
</div>

@if (User.IsInRole("Administrator") || User.IsInRole("HfedStaff"))
{
    <div>
        <strong>Staff Menu</strong><br/>
        <a href="@Url.Action("MaintainSchedules", "HfedHome")">Maintain Schedules</a><br/>
        <a href="@Url.Action("MaintainLocations", "HfedHome")">Maintain Delivery Locations</a><br/>
        <a href="@Url.Action("MaintainClients", "HfedHome")">Maintain Clients</a><br/>
        <a href="@Url.Action("MaintainProviders", "HfedHome")">Maintain Food Providers</a><br/>
    </div>
}
<br/> 
@if (User.IsInRole("Administrator") || User.IsInRole("HfedDriver"))
{
<div>
    <strong>Driver Menu</strong><br />  
    <a href="@Url.Action("DriverSignUp", "HfedSchedules")">Sign-Up Schedule</a><br />
    <a href="@Url.Action("UpdateMyProfile", "HfedHome")">Update My Profile</a><br />
</div>
}
<br />
<div>
    @Html.AntiForgeryToken()
    <a href="@Url.Action("Logout", "Home")">LogOut</a>
</div>
</body>
</html>
