@model MVC5_Seneca.EntityModels.HfedProvider

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>HFED Food Provider</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MainPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MainPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProviderNote)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProviderNote)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                <input type="submit" value="Delete" class="btn" />
            </div>
            <br />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
