@model MVC5_Seneca.ViewModels.AddEditStudentReportViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for datepicker*@
    <style>
        .editor-multiline-field textarea {
            width: 300px;
            height: 20px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>StudentReport</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div id="DocumentDate">
                @Html.LabelFor(model => model.DocumentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>                    
                    @Html.TextBox("DocumentDate", DateTime.Now.ToString("MM/dd/yyyy"), new { id = "DocumentDate", style = "width: 75px;", @class = "date-picker" })
                    @*@Html.TextBoxFor(model => model.DocumentDate, DateTime.Now.ToString("MM/dd/yyyy"), new { id = "DocumentDate",  style = "width: 75px", @class = "date-picker" } )*@
                    @Html.ValidationMessageFor(model => model.DocumentDate, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div id="Student", class="form-group">
                @Html.LabelFor(model => model.Student, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(x => Model.Student.Id, Model.Students)
                    @Html.ValidationMessageFor(x => x.Student.Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="DocumentType", class="form-group">
                @Html.LabelFor(model => model.DocumentType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(x => x.DocumentType.Id, Model.DocumentTypes)

                    @Html.ValidationMessageFor(x => x.DocumentType.Id, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div id="DocumentLink">
                @using (Html.BeginForm("Index", "StudentReports", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.LabelFor(model => model.DocumentLink, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.DocumentLink, new { htmlAttributes = new { @class = "form-control", @type = "file" } })*@
                       
                        @Html.TextBox("file","",new { type="file"})
                        @*@Html.ValidationMessageFor(model => model.PostedFile, "", new { @class = "text-danger" })*@
                    </div>
                }
            </div>

            <div id="Comments", class="editor-multiline-field">
                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                </div>
            </div>

            <div><br /></div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script type='text/javascript'>
        $(function () {
            $('.date-picker').datepicker();
        })
    </script>
</body>
</html>
