@using System.Web.Mvc.Html
@model MVC5_Seneca.ViewModels.UpdateMyScheduleViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditMySchedule</title>
</head>
<body>
    <h4>
        Update My Tutoring Schedule
    </h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

    }
    <div id="Main">
        @Html.LabelFor(model => model.Students, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-5">  
            <table>    
                <tr>
                    <td>
                        @Html.DropDownList("Id", Model.Students, "-Select Student-")
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
