@model MVC5_Seneca.EntityModels.HfedSchedule

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <style>
        .field-validation-error {
            color: red
        }
        .tooltip:hover:after {
            position: relative;
            /* we can get the title attribute from the relevant item */
            content: "" attr(title) "";
            /* style however you want */
            /*border: 1px dashed black;*/
            /*top: -3.5em;*/
            /*left: 12em;*/
            /*padding: 0.5em;*/
        }
    </style>
    <script>
        $( function() {
            $( document ).tooltip();
        } );
    </script>
    <style>
        label {
            display: inline-block;
            width: 5em;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <h4>New HFED Schedule</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
            
            <table>
                <tr>
                    <td style="text-align:right">
                        <strong>Date</strong></td>
                    <td>
                        @Html.EditorFor(model => model.Date, new { id="ScheduleDate", @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </td>
                    <td style="text-align:right">
                        <strong>Request</strong>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Request)
                        @Html.ValidationMessageFor(model => model.Request, "", new { @class = "text-danger" })
                    </td>
                </tr> 
                <tr>
                    <td style="text-align: right">
                        <strong>Pick Up Time</strong>
                    </td>
                    <td>
                        @Html.TextBoxFor( model => model.PickUpTime, new { style ="width:75px" })
                        @Html.ValidationMessageFor(model => model.PickUpTime, "", new { @class = "text-danger" })
                    </td>
                    <td style="text-align:right">
                        <strong>Complete</strong>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Complete)
                        @Html.ValidationMessageFor(model => model.Complete, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr><td><br /></td></tr> 
            </table>
            <table>
                <tr>
                    <td>
                        <strong>Food Provider</strong> (Required)
                    </td>
                    <td>
                        <strong>Drop Off Location</strong> (Required)
                    </td>
                    <td>
                        <strong>Point Person</strong> (Required)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(x => x.Provider.Id, new SelectList(Model.HfedProviders, "Id", "Name"), " Select") 
                        @Html.ValidationMessageFor(model => model.Provider.Id, "", new { @class = "text-danger"})
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.Location.Id, new SelectList(Model.HfedLocations, "Id", "Name"), " Select") 
                        @Html.ValidationMessageFor(model => model.Location.Id, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.PointPerson.Id, new SelectList(Model.HfedStaffs, "Id", "FullName"), " Select")
                        @Html.ValidationMessageFor(model => model.PointPerson.Id, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td><strong>Driver</strong></td>
                    <td><strong>Clients</strong></td>
                    <td><strong>Note</strong></td>
                    <td><strong>Volunteer Hours</strong></td>
                </tr>              
                <tr>
                    <td title="Type first letter of First Name to search.">
                        @Html.DropDownListFor( model => model.HfedDriversArray, new SelectList(Model.HfedDrivers, "Id", "FullName"), " -- Select Driver -- ",new { Id = "driversDDL" })
                    <td>
                        @Html.ListBoxFor(model => model.HfedClientsArray, new MultiSelectList(Model.HfedClients, "Id", "FullName"), new { Id = "clientsDDL", title = "Type first letter of First or Last Name to search.", })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.ScheduleNote, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ScheduleNote, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.VolunteerHours, new{ style = "width:75px"})
                        @Html.ValidationMessageFor(model => model.VolunteerHours, "", new { @class = "text-danger" })
                    </td>
                </tr>  
            </table>
            <br />
            <div class="form-group">
                <div>
                    @*<label class="field-validation-error">@Model.ErrorMessage</label>*@
                </div> 
                <div class="col-md-10">
                    <input type="submit" value="CREATE" class="btn" style="background-color: aqua; font-weight:bold" />
                </div>
            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</body>
</html>

<script type="text/javascript">  
    $(document).ready(function () {  
        $('input[type=datetime]').datepicker({  
            dateFormat: "mm/dd/yy",  
            changeMonth: true,  
            changeYear: true,  
            yearRange: "-5:+1"  
        }); 
    });  
</script> 
@*<script>
    $(function () {
        $("#driversDDL").chosen({ width: "150px" });
    });
</script>*@
<script>
    $(function () {
        $("#clientsDDL").chosen({ width: "150px" });
    });
</script>

