@model MVC5_Seneca.ViewModels.HfedScheduleViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HfedDriverSignUp</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <h2>Healthy Food Every Day Driver SignUp</h2>
        </div>
        <table class="table">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>@User.Identity.Name</th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PickUpTime)
                </th>
                <th>Pickup Location</th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PointPerson)
                </th>
                <th>&nbsp;Sign Up</th>
                <th></th>
            </tr>

            @for (int i = 0; i < Model.HfedSchedules.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => Model.HfedSchedules[i].Date)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.HfedSchedules[i].PickUpTime)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.HfedSchedules[i].Provider.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.HfedSchedules[i].Location.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.HfedSchedules[i].PointPerson.FullName)
                    </td>
                    <td>
                        @if (Model.HfedSchedules[i].HfedDriversArray[0] == "")
                        {
                            @Html.EditorFor(m => Model.HfedSchedules[i].SignUp)
                        }
                    </td>
                </tr>
            }
        </table>

        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="SUBMIT" class="btn" />
            </div>
        </div>
    }
    <br />
    <table>
        <tr>
            <td>
                @Html.ActionLink("Return to Dashboard", "ReturnToHfedDashboard", new { })
            </td>
        </tr>
    </table>
</body>
</html>
