@model MVC5_Seneca.ViewModels.HfedScheduleViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HfedDriverSignUp</title>
</head>
<body>
    @using (Html.BeginForm("DriverSignUp","HfedSchedules", FormMethod.Post, new {schedules = Model }))
    {
        @Html.AntiForgeryToken()
        <div>
            <h2>Healthy Food Every Day Driver SignUp</h2>
            <table>
                <tr>
                    <td>
                    <strong>For user: @User.Identity.Name</strong> (Click in checkbox to volunteer, then SUBMIT)
                    </td>
                </tr>
            </table>
        </div> 
        <table class="table">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>&nbsp; Driver /</th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PickUpTime)
                </th>
                <th>Pickup Location</th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PointPerson)
                </th>
                <th>&nbsp;Sign Up</th>
                <th></th>
            </tr>

            @for (int i = 0; i < Model.HfedScheds.Count; i++)
            {   
                @Html.HiddenFor(m => Model.HfedScheds[i].Id) // Necessary for schedules to bind in POST
            <tr>
                <td>
                    @Html.DisplayFor(m => Model.HfedScheds[i].Date)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.HfedScheds[i].PickUpTime)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.HfedScheds[i].Provider.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.HfedScheds[i].Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.HfedScheds[i].PointPerson.FullName)
                </td>
                <td>
                    @if (Model.HfedScheds[i].HfedDriversArray[0] == "")
                    {                   
                        <span> &nbsp; &nbsp; &nbsp;</span>
                        @Html.EditorFor(m => Model.HfedScheds[i].SignUp)
                        @Html.ValidationMessageFor(m => Model.HfedScheds[i].SignUp, "", new { @class = "text-danger" })
                    }
                    else
                    {
                      @Html.DisplayFor( m => Model.HfedScheds[i].DriverName )
                    }   
                </td>
            </tr>
            }
        </table>

        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="SUBMIT" class="btn" style="background-color: aqua; font-weight:bold"   />
            </div>
        </div>
    }
    <br />
    <table>
        <tr>
            <td>
                @Html.ActionLink("Return to Dashboard", "ReturnToHfedDashboard", new { })
            </td>
        </tr>
    </table>
</body>
</html>
