@model MVC5_Seneca.ViewModels.HfedScheduleViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    @*Put page javascript in a separate .js file where breaks can be set during debugging:*@
    <script src="@Url.Content("/Scripts/HfedFunctions.js")"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <h4>Edit HFED Food Run</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)  
            <table>
                <tr>
                    <td style="text-align:right">
                        <strong>@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-md-2" }) </strong>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", style = "width:75px" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <strong>PickUp Time</strong>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.PickUpTime, new { htmlAttributes = new { @class = "form-control", style = "width:75px" } })
                        @Html.ValidationMessageFor(model => model.PickUpTime, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td>
                        <strong>@Html.LabelFor(m => m.Provider, new { @class = "col-md-2" })</strong>
                    </td>
                    <td>
                        <strong>@Html.LabelFor(m => m.Location, new { @class = "col-md-2" })</strong>
                    </td>
                    <td>
                        <strong>@Html.LabelFor(m => m.PointPerson, new { @class = "col-md-2" })</strong>
                    </td>
                </tr>
                <tr>
                    <td> 
                        @Html.DropDownListFor(x => x.Provider.Id, new SelectList(Model.HfedProviders, "Id", "Name"), new{ style="width:140px" })
                        @Html.ValidationMessageFor(model => model.Provider.Id, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.Location.Id, new SelectList(Model.HfedLocations, "Id", "Name"), new{@id="location_Id", style = "width:140px" })
                        @Html.ValidationMessageFor(model => model.Location.Id, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.PointPerson.Id, new SelectList(Model.HfedStaffs, "Id", "FullName"))
                        @Html.ValidationMessageFor(model => model.PointPerson.Id, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td><strong>Driver</strong></td>
                    <td><strong>Households</strong></td>
                    <td><strong>Note</strong></td>
                    @*<td>Volunteer Hours</td>*@
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(x => x.Driver.Id, new SelectList(Model.HfedDrivers, "Id", "FullName"), " Nobody Yet")
                        @Html.ValidationMessageFor(model => model.Driver.Id, "", new {@class = "text-danger"})
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Households, new {onclick="$(this).select();",  style = "width:30px" })
                        @Html.ValidationMessageFor(model => model.Households, "", new { @class = "text-danger" })

                    </td>
                    
                    <td>
                        @Html.EditorFor(model => model.ScheduleNote, new { htmlAttributes = new { @class = "form-control", style = "width:200px" } })
                        @Html.ValidationMessageFor(model => model.ScheduleNote, "", new { @class = "text-danger" })
                    </td>
                    @*<td>
                        @Html.EditorFor(model => model.VolunteerHours)
                        @Html.ValidationMessageFor(model => model.VolunteerHours, "", new { @class = "text-danger" })
                    </td>*@
                </tr>
            </table> 
        
            <table>
                <tr>
                    <td><strong>Clients</strong></td>
                </tr>
                <tr>
                <td> 
                    @Html.ListBoxFor(model => model.HfedClientsArray,
                        new MultiSelectList(Model.HfedClients, "Id", "FullName"),
                       new {Id = "clientsDDL" })  
                </td> 
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td style="text-align: right"><strong>I Approve This Run</strong></td>
                <td>
                    @Html.EditorFor(model => model.Approved)
                </td>
                <tr> 
                <tr>
                    <td colspan="2" style="color:red">
                        @Model.ErrorMessage
                    </td>
                </tr>
            </table>   
        </div>  

        <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Save Changes" class="btn" style="background-color: aqua; font-weight:bold"/>
                </div>
            </div>
        }
    <br />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div> 

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-5:+1"
        });
    });
</script>

<script>
    $(function () {
        $("#clientsDDL").chosen({ width: "150px" });
    });
</script>    

<script type="text/javascript">
    $("#location_Id").change(LoadClients);
</script>   
