@model MVC5_Seneca.ViewModels.HfedScheduleViewModel  

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <h4>Edit HFED Schedule</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <table>
                <tr>
                    <td style="text-align:right">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </td>
                    <td style="text-align:right">
                        Request
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Request)
                        @Html.ValidationMessageFor(model => model.Request, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        @Html.LabelFor(model => model.PickUpTime, htmlAttributes: new { @class = "col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.PickUpTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PickUpTime, "", new { @class = "text-danger" })
                    </td>
                    <td style="text-align:right">
                        Complete
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Complete)
                        @Html.ValidationMessageFor(model => model.Complete, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Provider, new { @class = "col-md-2" })
                    </td>
                    <td>
                        @Html.LabelFor(m => m.Location, new { @class = "col-md-2" })
                    </td>
                    <td>
                        @Html.LabelFor(m => m.PointPerson, new { @class = "col-md-2" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(x => x.Provider.Id, new SelectList(Model.HfedProviders, "Id", "Name"), " Select") (Required)
                        @Html.ValidationMessageFor(model => model.Provider.Id, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.Location.Id, new SelectList(Model.HfedLocations, "Id", "Name"), " Select") (Required)
                        @Html.ValidationMessageFor(model => model.Location.Id, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.PointPerson.Id, new SelectList(Model.HfedStaffs, "Id", "FullName"), " Select")
                        @Html.ValidationMessageFor(model => model.PointPerson.Id, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td>Drivers</td>
                    <td>Clients</td>
                    <td>Note</td>
                    <td>Volunteer Hours</td>
                </tr>
                <tr>
                    <td>
                        @Html.ListBoxFor(model => model.HfedDriversArray, new MultiSelectList(Model.HfedDrivers, "Id", "FullName"), new { Id = "driversDDL" })
                    </td>
                    <td>
                        @Html.ListBoxFor(model => model.HfedClientsArray, new MultiSelectList(Model.HfedClients, "Id", "FullName"), new { Id = "clientsDDL" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.ScheduleNote, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ScheduleNote, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.VolunteerHours)
                        @Html.ValidationMessageFor(model => model.VolunteerHours, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
            
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Save" class="btn" />
                </div>
            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-5:+1"
        });
    });
</script>
<script>
    $(function () {
        $("#driversDDL").chosen({ width: "150px" });
    });
</script>
<script>
    $(function () {
        $("#clientsDDL").chosen({ width: "150px" });
    });
</script>
