@model MVC5_Seneca.ViewModels.HfedEmailViewModel 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <h4>@Html.DisplayFor(model => model.Title)</h4>
        </div>
        <div>
            <p>@Html.TextAreaFor(model => model.EmailText, 10, 30, new {style = "width:400px"})</p>
        </div>
        <div>
            @*@Html.DropDownListFor( model => Model.RecipientIds , (IEnumerable< SelectListItem>)Model.RecipientList )*@
            @*@Html.ValidationMessageFor(i => i.RecipientList, "", new { @class = "text-warning" })*@
             
            @for (var i = 0; i < Model.Recipients.Count(); i++)  
            {  
            <table>  
                <tr>  
                    <td>  
                        @Html.HiddenFor(model => model.Recipients[i].Id)  
                        @Html.DisplayFor(model=> model.Recipients[i].FullName)  
                    </td>  
                    <td>  
                        @Html.CheckBoxFor(model => model.Recipients[i].Checked,new {Style ="vertical-            align:3px}"})  
                    </td>  
                </tr>  
            </table>   
            }
        </div>
        <div class="col-md-10">
            <input type="submit" value="SEND" class="btn" style="background-color: aqua; font-weight: bold"/>
        </div>
        <br/>
        <div>
            @Html.ActionLink("Return to Schedules", "ReturnToHfedSchedules")
        </div>
    }
</body>
</html>
