@model MVC5_Seneca.EntityModels.HfedEmail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
</head>
<body>
    @using (Html.BeginForm("Index", "HfedEmail", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Title)
        <div>
            <h4>@Html.DisplayFor(model => model.Title)</h4>
        </div>
        if (Model.Title == "Email Reminders")
        {
            <div>
                <table class="table">
                    <tr>
                        <td><strong>Reminder Date </strong></td>
                        <td>@Html.TextBox("Reminder Date",
                                @Convert.ToDateTime(Session["ReminderDate"]).ToString("MM/dd/yyyy"),
                                new { id = "ReminderDate", style = "width: 75px;" })
                            (Click to change)</td>
                    </tr>
                </table>
            </div>
        }
            <div>
                <p>@Html.TextAreaFor(model => model.EmailText, 10, 30, new { style = "width:400px" })</p>
                @if (Model.Title.Contains("Email Drivers"))
                {
                    <span>Current schedule will be included in email.</span>
                }
                @if (Model.Title.Contains("Reminder"))
                {
                    <span>Selected Date Schedule(s) will be included in email.</span>
                }
            </div> 
        <br />
        <div>
            Select Recipients
            @for (var i = 0; i < Model.Recipients.Count(); i++)
            {
                <table>
                    <tr>
                        <td>
                            @Html.CheckBoxFor(model => model.Recipients[i].Checked)
                            @Model.Recipients[i].FullName
                            @Html.HiddenFor(model => model.Recipients[i].Id)
                            @Html.HiddenFor(model => model.Recipients[i].FullName)
                            @Html.HiddenFor(model => model.Recipients[i].Email)
                        </td>
                    </tr>
                </table>
            }
        </div>
        <div class="col-md-10">
            <input type="submit" value="SEND" class="btn" style="background-color: aqua; font-weight: bold" />
        </div>
        <br />
        <div>
            @Html.ActionLink("Return to Schedules", "ReturnToHfedSchedules")
        </div>
    }
</body> 
</html>  

<script>
    $(function () {
        $("#ReminderDate").datepicker();
    });
</script>
 
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "mm/dd/yyyy", 
            changeMonth: true,
            changeYear: true,
            yearRange: "-5:+1"
        });
    });
</script>

<script type="text/javascript">
    $("#ReminderDate").change(function () {                 
        sessionStorage.setItem("ReminderDate", $('#ReminderDate').val());  
        @*$('#ReminderDate').datepicker('setDate', '@Session["ReminderDate"]');*@ 
        window.location.href = '@Url.Action("EmailReminder", "HfedEmail")';
    });
</script>
